@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .experiencePageChild {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 300px;
    min-height: 25vh;
  }
  
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
  .sampleItem {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .experienceText {
    margin: 0;
  }
  .locationDateContainer {
    align-self: stretch;
    position: relative;
  }
  .experienceHeader,
  .frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame1 {
    overflow: hidden;
    justify-content: center;
    font-size: var(--font-size-5xl);
  }
  .experienceHeader {
    padding: 0 18.607666015625px 0 20.244384765625px;
    justify-content: flex-start;
  }
  .experienceText {
    align-self: stretch;
    position: relative;
  }
  .frame,
  .scrollableText {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .scrollableText {
    overflow-y: auto;
    text-align: left;
    font-size: var(--font-size-5xl);
  }
  .frame {
    flex: 1;
    overflow: hidden;
    gap: 11px;
  }
  .expandDownTop {
    position: relative;
    width: 59.36px;
    height: 10px;
  }
  .expandDownDouble {
    cursor: pointer;
    border: 0;
    padding: 14px 29px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
  }
  .expandDownDouble:hover {
    animation: 1s ease 0s 1 normal none scale-up;
    opacity: 1;
  }
  .expandDownDouble,
  .experiencePage,
  .rhsFrame {
    display: flex;
    flex-direction: column;
  }
  .rhsFrame {
    align-self: stretch;
    background-color: var(--color-darkslategray-100);
    height: 100vh;
    padding: 13px 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .experiencePage {
    position: relative;
    background-color: #3b3b3b;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 48px;
    color: var(--color-white);
    font-family: var(--font-im-fell-french-canon);
  }
  img{
    width: 150px;
    height: 100px;
  }
  @media screen and (max-width: 960px) {
    .experienceText {
      font-size: 12px;
    }
    .scrollableText {
      max-height: 300px;
    }
    .experiencePage,
    .frame {
      align-items: center;
      justify-content: flex-start;
    }
    .experiencePage {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 690px) {
    .sampleItem {
      font-size: 32px;
    }
    .locationDateContainer {
      font-size: 16px;
    }
    .experienceHeader {
      min-width: 95%;
    }
    .experienceText {
      font-size: 12px;
    }
  }
  