.header {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .galleryTitle {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-family: inherit;
  }
  .roottech,
  .ucSanDiego {
    position: absolute;
    width: 31.92%;
    top: 239px;
    right: 34.13%;
    left: 33.95%;
    height: 217px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
      33.17259216308594px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../public/images/roottech@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .ucSanDiego {
    right: 68.08%;
    left: 0;
    background-image: url(../../public/images/uc-san-diego@3x.png);
  }
  .experience {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .anheuserBusch,
  .codingMindsAcademy {
    position: absolute;
    width: 31.92%;
    top: -1px;
    right: 0.19%;
    left: 67.89%;
    height: 217px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
      33.17259216308594px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../public/images/coding-minds-academy@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .anheuserBusch {
    right: 34.13%;
    left: 33.95%;
    background-image: url(../../public/images/anheuser-busch@3x.png);
  }
  .thomsonReuters1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .thomsonReuters,
  .anheuserBusch,
  .ucSanDiego,
  .roottech,
  .codingMindsAcademy,
  .ucSanDiego2,
  .yonseiUniversity,
  .covidInfectionsStudy,
  .howPrivateRu,
  .howPrivateRu2,
  .personalPortfolio,
  .taxiTimePrediction,
  .ucsdZoo
  {
    &:before {
      content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to top left,#000000,#1b1b1b);
          opacity: .6;
    }
  
    &:hover:before {
      animation: brighten 0.3s forwards;
    }
  }
  
  @keyframes brighten {
    from {
    }
    to {
      opacity: 0;
    }
  }
  
  .thomsonReuters {
    position: absolute;
    width: 31.92%;
    top: -1px;
    right: 68.08%;
    left: 0;
    height: 217px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
      33.17259216308594px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../public/images/thomson-reuters@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer;
  }
  .experiencesGalleryContents {
    align-self: stretch;
    position: relative;
    height: 451px;
    text-align: center;
    font-size: var(--font-size-11xl);
    font-family: var(--font-im-fell-french-canon);
  }
  .experienceGallery,
  .ucSanDiego2,
  .yonseiUniversity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .experienceGallery {
    align-self: stretch;
    padding: 0 29.48583984375px 0 29.489999771118164px;
    align-items: flex-start;
  }
  .ucSanDiego2,
  .yonseiUniversity {
    position: absolute;
    width: 31.92%;
    top: 2px;
    right: 33.86%;
    left: 34.22%;
    height: 217px;
    padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
      33.17259216308594px;
    box-sizing: border-box;
    align-items: center;
    background-image: url(../../public/images/yonsei-university@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .ucSanDiego2 {
    right: 68.08%;
    left: 0;
    background-image: url(../../public/images/uc-san-diego1@3x.png);
  }
  .educationGalleryContents {
    align-self: stretch;
    position: relative;
    height: 217px;
    text-align: center;
    font-size: var(--font-size-11xl);
    font-family: var(--font-im-fell-french-canon);
  }
  .educationGallery,
  .projectGallery {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0 29.48583984375px 0 29.489999771118164px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .covidInfectionsStudy,
  .howPrivateRu,
  .howPrivateRu2,
  .personalPortfolio,
  .taxiTimePrediction,
  .ucsdZoo {
    position: absolute;
    width: 31.92%;
    top: 239px;
    right: 0.19%;
    left: 67.89%;
    height: 217px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-40xl) 32.82740783691406px var(--padding-40xl)
      33.17259216308594px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../../public/images/travel-today@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .covidInfectionsStudy,
  .howPrivateRu2,
  .personalPortfolio,
  .taxiTimePrediction,
  .ucsdZoo {
    right: 68.08%;
    left: 0;
    background-image: url(../../public/images/covid-infections-study@3x.png);
  }
  .howPrivateRu2,
  .personalPortfolio,
  .taxiTimePrediction,
  .ucsdZoo {
    top: -1px;
    right: 0.19%;
    left: 67.89%;
    background-image: url(../../public/images/ucsd-zoo@3x.png);
  }
  .howPrivateRu2,
  .personalPortfolio,
  .taxiTimePrediction {
    right: 34.13%;
    left: 33.95%;
    background-image: url(../../public/images/taxi-time-prediction@3x.png);
  }
  .howPrivateRu2,
  .personalPortfolio {
    top: 239px;
    background-image: url(../../public/images/how-private-ru@3x.png);
  }
  .personalPortfolio {
    top: -1px;
    right: 68.08%;
    left: 0;
    background-image: url(../../public/images/personal-portfolio@3x.png);
  }
  .projectGalleryContents {
    align-self: stretch;
    position: relative;
    height: 451px;
    text-align: center;
    font-size: var(--font-size-11xl);
    font-family: var(--font-im-fell-french-canon);
  }
  .content {
    align-self: stretch;
    background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(107, 107, 107, 0.36),
      rgba(107, 107, 107, 0.57) 50%,
      rgba(107, 107, 107, 0)
    );
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0 0.9718993902206421px 0 0;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 27px;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-carme);
  }
  .backButton,
  .button1,
  .content,
  .frame {
    display: flex;
    align-items: center;
  }
  .frame {
    align-self: stretch;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
  }
  .backButton,
  .button1 {
    position: relative;
    letter-spacing: 0.05em;
    justify-content: center;
    bottom: 2.5vh;
    flex-shrink: 0;
    cursor: pointer;
    transition: color 0.3s;
  }
  .backButton:hover,
  .button1:hover {
    color: var(--color-white);
  }
  .button,
  .footer,
  .portfolioPage {
    display: flex;
    flex-direction: column;
  }
  .button {
    width: 52px;
    align-items: flex-start;
    justify-content: center;
  }
  .footer,
  .portfolioPage {
    align-items: center;
  }
  .footer {
    align-self: stretch;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0), #232323 9.38%);
    min-height: 10vh;
    justify-content: flex-end;
    text-align: center;
    font-size: var(--font-size-2xl);
    color: var(--color-gray);
    font-family: var(--font-carme);
  }
  
  .note{
    opacity: 0.5;
    font-size: 8px;
    margin-bottom: 5vh;
    cursor: pointer;
  }
  .portfolioPage {
    position: relative;
    background-color: var(--color-darkslategray-100);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: flex-start;
    gap: 10px;
  }
  @media screen and (max-width: 420px) {
    .galleryTitle {
      font-size: var(--font-size-9xl);
    }
    .experienceGallery {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 350px) {
    .thomsonReuters1 {
      font-size: 15px;
    }
    .frame {
      display: flex;
    }
  }
  @media screen and (max-width: 550px) {
    .experience,
    .thomsonReuters1 {
      font-size: var(--font-size-3xl);
    }
  }
  